#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #111;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  background: #222;
  padding: 0 0 0 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-item p {
  text-align: left;
  color: #fff;
}
.todo-item.active p {
  color: #888;
  text-decoration: line-through;
}

.todo-item button {
  padding: 0 0.5rem;
  border-radius: 0;
  height: 100%;
  border-right: 1px solid #000;
}

.todo-form .item-name {
  height: 34px;
  vertical-align: top;
  display: inline-block;
  border-radius: 0.25rem 0 0.25rem;
}
.todo-form .item-button {
  vertical-align: top;
  height: 40px;
  border-radius: 0;
  border-left: 1px solid #000;
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
