#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #111;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  background: #222;
  padding: 0 0 0 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-item p {
  text-align: left;
  color: #fff;
}
.todo-item.active p {
  color: #888;
  text-decoration: line-through;
}

.todo-item button {
  padding: 0 0.5rem;
  border-radius: 0;
  height: 100%;
  border-right: 1px solid #000;
}

.todo-form .item-name {
  height: 34px;
  vertical-align: top;
  display: inline-block;
  border-radius: 0.25rem 0 0.25rem;
}
.todo-form .item-button {
  vertical-align: top;
  height: 40px;
  border-radius: 0;
  border-left: 1px solid #000;
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.login-input {
  margin-bottom: .5rem;
}

.login-input input {
  display: block;
  border-radius: .25rem;
  height: 35px;
  width: 97%;
  margin: auto;
}

.login-button {
  display: block;
  border-radius: .25rem;
  height: 50px;
  width: 100%;
  margin: auto;
}

.login-message {
  color:#fff;
  padding: 1rem 0;
  text-align: center;
  display: none;
}
.login-message.error {
  color: #f00;
  display: block;
}
.login-message.info {
  color: yellow;
  display: block;
}

.button-logout {
  position: absolute;
  top: -1rem;
  background: #fff;
  color: #000;
  border-radius: 100%;
  right: -1rem;
  padding: .5rem;
}
.button-logout:hover {
  background-color: #888;
}

#root {
  position: relative;
}